<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Crear Proyecto</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/semantic/out/semantic.css" %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"> -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static "css/semantic/out/semantic.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="content">Crea tu proyecto</h1><br><br>
      <form method="POST">
      <!--  <div class="fieldWrapper">
            {{ form.ProName.errors }}
            {{ form.ProName.label_tag }}
            {{ form.ProName }}
        </div>-->
        <h3>Háblanos de tu proyecto</h3> <br>
        {{form.as_p}}
      <h3>Agrega roles</h3> <br>
      <div class="input-group-append">
              <button class="btn btn-success add-form-row">+</button>
          </div>
       <div class="fieldWrapper">
            {{ form.rolNombre.errors }}
            {{ form.rolNombre.label_tag }}
            {{ form.rolNombre }}
        </div>
        <div class="fieldWrapper">
             {{ form.rolFechaLimite.errors }}
             {{ form.rolFechaLimite.label_tag }}
             {{ form.rolFechaLimite }}
         </div>
         <div class="fieldWrapper">
              {{ form.rolCantidad.errors }}
              {{ form.rolCantidad.label_tag }}
              {{ form.rolCantidad }}
          </div>
          <div class="fieldWrapper">
               {{ form.rolDescripcion.errors }}
               {{ form.rolDescripcion.label_tag }}
               {{ form.rolDescripcion }}
           </div>
           <div class="fieldWrapper">
                {{ form.rolLocation.errors }}
                {{ form.rolLocation.label_tag }}
                {{ form.rolLocation }}
            </div>

        <!--<button class="ui black button">Agregar Rol</button><br><br>-->
        {% csrf_token %}
        <input type="submit" class="positive ui button" value="Submit">
      </form>
    </div>



  </body>
</html>
