<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Crear Proyecto</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/semantic/out/semantic.css" %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"> -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static "css/semantic/out/semantic.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="content">Crea tu proyecto</h1><br><br>
      <form method="POST">
      {% csrf_token %}
      {{ formRol.management_form }}
      <div class="col-2">
          <label>{{formProyecto.as_p}}</label>
      </div>
      FOR INICIO
      {% for x in formRol %}
          <div class='table'>
            <table class='no_error'>
              {% for field in x %}
                   {{ field.label_tag }}
                   {{ field }}
               {% endfor %}
                <br><br>

            </table>
          </div>
        {% endfor %}
        FOR TERMINA
        <input type="button" value="Add More" id="add_more">
        <input type="submit" class="positive ui button" value="Submit">
      <!--  <div class="fieldWrapper">
            {{ form.ProName.errors }}
            {{ form.ProName.label_tag }}
            {{ form.ProName }}
        </div>-->
        <!--<button class="ui black button">Agregar Rol</button><br><br>-->


      </form>
    </div>



    <script type='text/javascript'>
          $('#add_more').click(function() {
        cloneMore('div.table:last', 'service');
      });
      function cloneMore(selector, type) {
          var newElement = $(selector).clone(true);
          var total = $('#id_' + type + '-TOTAL_FORMS').val();
          newElement.find(':input').each(function() {
              var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
              var id = 'id_' + name;
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          });
          newElement.find('label').each(function() {
              var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
              $(this).attr('for', newFor);
          });
          total++;
          $('#id_' + type + '-TOTAL_FORMS').val(total);
          $(selector).after(newElement);
      }
    </script>


  </body>
</html>
