<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Crear Proyecto</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/semantic/out/semantic.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"> -->
  </head>
  <body>
    <div class="container">
      <h1 class="content">Crea tu proyecto</h1><br><br>
      <form method="POST" enctype="multipart/form-data"class="ui form">
      {% csrf_token %}
      {{ formRol.management_form }}
      <div class="col-2">
          <label>{{formProyecto.as_p}}</label>
      </div>
      <div class="col-2">
          <label>{{formRol.as_table}}</label>
      </div>
        <input type="button" value="Add More" id="add_more">
        <input type="submit" class="positive ui button" value="Submit">
      <!--  <div class="fieldWrapper">
            {{ form.ProName.errors }}
            {{ form.ProName.label_tag }}
            {{ form.ProName }}
        </div>-->
        <!--<button class="ui black button">Agregar Rol</button><br><br>-->

      </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<!--    <script type='text/javascript'>
co=1;
            $('#add_more').click(function() {
              console.log("HOLA")
          cloneMore('div.table:last', 'service');
        });
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            console.log("total "+total)
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (co-1) + '-','-' + co+ '-');
                var id = 'id_' + name;
                console.log("id "+id)
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (co-1) + '-','-' + co + '-');
                $(this).attr('for', newFor);
            });
            total=total+1;
            co=co+1;
            console.log("total "+total)
            console.log("co "+co)
            $('#id_' + type + '-TOTAL_FORMS').val(co);
            $(selector).after(newElement);
        }
      </script>-->




</html>
