{% extends "app_one/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="container">
      <h1 class="content">Crea tu proyecto</h1><br><br>
      <form method="POST" enctype="multipart/form-data"class="ui form">
      {% csrf_token %}
      {{ form_rol.management_form }}


      <div class="fieldWrapper">
           {{ project.pro_img.errors }}
           {{ form.pro_img.label_tag }}
           {{ form.pro_img }}
       </div>

      <h3>Información del proyetco</h3>
      <div class="col-2">
          <label>{{form_pro.as_p}}</label>
      </div>
      <p>{{project.as_table}}</p>
      <h3>Información de los roles</h3>
      <div class="table">
        {% for form in form_rol %}
        <ul>
          <li>{{ form }}</li>
        </ul>
      {% endfor %}
      </div>
      <input type="hidden" name="cantidad" id="cantidad"value="">

        <input type="button" value="Add More" id="add_more">
        <input type="submit" class="positive ui button" value="Submit">
      <!--  <div class="fieldWrapper">
            {{ form.ProName.errors }}
            {{ form.ProName.label_tag }}
            {{ form.ProName }}
        </div>-->
        <!--<button class="ui black button">Agregar Rol</button><br><br>-->

      </form>
    </div>
{% endblock %}

{% block js_block %}
<script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('input[class="datepicker"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      locale: {
         format: 'YYYY-MM-DD'
        }
    });
  });


  //document.getElementById('fieldWrapper').innerHTML.setAttribute("multiple", "multiple");
</script>
<script type='text/javascript'>
        co=1;
          $('#add_more').click(function() {
            console.log("HOLA")
        cloneMore('div.table:last', 'service');
      });
      function cloneMore(selector, type) {
          var newElement = $(selector).clone(true);
          var total = $('#id_' + type + '-TOTAL_FORMS').val();
          console.log("total "+total)
          newElement.find(':input').each(function() {
              var name = $(this).attr('name').replace('-' + (co-1) + '-','-' + co+ '-');
              var id = 'id_' + name;
              console.log("id "+id)
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          });
          newElement.find('label').each(function() {
              var newFor = $(this).attr('for').replace('-' + (co-1) + '-','-' + co + '-');
              $(this).attr('for', newFor);
          });
          total=total+1;
          co=co+1;
          console.log("total "+total)
          console.log("co "+co)
          $('#id_' + type + '-TOTAL_FORMS').val(co);
          $(selector).after(newElement);
          $('input[class="datepicker"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
               format: 'YYYY-MM-DD'
              }
          });
          document.getElementById("cantidad").value = co;
          console.log("cant " +   document.getElementById("cantidad").value);
      }
    </script>
{% endblock %}
