{% extends "base.html" %}
{% load staticfiles %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block body_block %}
    <div class="container">

      <h1 class="content">Añade los puestos que buscar</h1>
      <div class="ui grid container">
        <div class="ui vertical segment">
          <div class="ui header">
            <!--Crear Puestos-->
          </div>
          <form method="POST" enctype="multipart/form-data"class="ui form">
          {% csrf_token %}


          <div class="table">
            <!-- for form in form_rol -->
            <ul>
              <li>{{ form.rol_dropdown_name.errors }}
                  {{ form.rol_dropdown_name.label_tag }}
                  {{ form.rol_dropdown_name }}
              </li>


                {{ form.rol_alternative_name.errors }}
                      {{ form.rol_alternative_name }}

              {{ form.rol_name.errors }}
                {{ form.rol_name.label_tag }}
                {{ form.rol_name }}

              {{ form.rol_due_date.errors }}
                  {{ form.rol_due_date.label_tag }}
                  {{ form.rol_due_date }}

              {{ form.rol_amount.errors }}
                  {{ form.rol_amount.label_tag }}
                  {{ form.rol_amount }}

              {{ form.rol_description.errors }}
                  {{ form.rol_description.label_tag }}
                  {{ form.rol_description }}

              {{ form.rol_location.errors }}
                  {{ form.rol_location.label_tag }}
                  {{ form.rol_location }}

            </ul>
          <!-- endfor %}-->
          </div>




          <!--  <input type="hidden" name="cantidad" id="cantidad"value="">
            <input type="button" value="Add More" id="add_more"> -->
            <input type="submit" class="positive ui button" value="Publicar puestos">

          </form>
        </div>
      </div>

    </div>
{% endblock %}

{% block js_block %}
<script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<script type="text/javascript">

  $(function() {
    var dateToday = new Date();
    $('input[class="datepicker"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      maxDate: dateToday,
      locale: {
         format: 'YYYY-MM-DD'
        }
    });
  });
</script>
<script type='text/javascript'>
        co=1;
          $('#add_more').click(function() {
            console.log("HOLA")
        cloneMore('div.table:last', 'service');
      });
      function cloneMore(selector, type) {
          var newElement = $(selector).clone(true);
          var total = $('#id_' + type + '-TOTAL_FORMS').val();
          console.log("total "+total)
          newElement.find(':input').each(function() {
              var name = $(this).attr('name').replace('-' + (co-1) + '-','-' + co+ '-');
              var id = 'id_' + name;
              console.log("id "+id)
              $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
          });
          newElement.find('label').each(function() {
              var newFor = $(this).attr('for').replace('-' + (co-1) + '-','-' + co + '-');
              $(this).attr('for', newFor);
          });
          total=total+1;
          co=co+1;
          console.log("total "+total)
          console.log("co "+co)
          $('#id_' + type + '-TOTAL_FORMS').val(co);
          $(selector).after(newElement);
          $('input[class="datepicker"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
               format: 'YYYY-MM-DD'
              }
          });
          document.getElementById("cantidad").value = co;
          console.log("cant " +   document.getElementById("cantidad").value);
      }
    </script>
{% endblock %}
