<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block title %}{{project.pro_name}}{% endblock %}
{% block body_block %}

  {# Updated Segment #}
  {% if 'updated' in request.GET %}
    <div class="ui basic modal">
      <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
      </div>
      <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
      </div>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green ok inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  {% endif %}



    <div class="ui segment container"> <!--segment-->
      <div class="ui grid">
        <!--Ifo general-->
        <div class="row">
          <!--main info-->
          <div class="eight wide column">

            <div class="ui grid"> <!--Titulo, boton para editar y creador--> <br>
                <h2 class="section-heading mb-4">
                       {{project.pro_name}}
                       {% if request.user.is_staff %}
                          <a href="{% url 'project_app:update' project.id %}">Editar</a>
                      {% endif %}
                </h2>
            </div>
            <!--Creador del proyecto-->
            <div class="ui grid">
              <div class="item">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/elyse.png"> Christian Rocha
              </div>
            </div>
            <!--info general del proyecto-->
            <div class="ui grid">
              <div class="eight wide column">
                  <i class="tags icon"></i>
                  {{project.pro_category}}
              </div>
              <div class="eight wide column">
                  <i class="map marker alternate icon"></i>
                  {{project.pro_location}}
              </div>
            </div>
            <div class="sixteen wide column">
              <i class="dollar sign icon"></i>
              {{project.pro_phrase}}
            </div>
            <!--Barra de progreso-->
            <div class="ui grid">
              <div class="fifteen wide column">
                <div class="ui violet progress" id="example2">
                   <div class="bar"></div>
                </div>
              </div>
            </div>
            <!--Descripcion-->
            <div class="sixteen wide column">
              {{project.pro_description|safe}}
            </div>
            <!--Like, Guardar y compartir-->
            <div class="ui grid">
              <div class="five wide column">
                  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
              </div>
            </div>
          </div>

          <!--video-->
          <div class="eight wide column">
            <div class="ui grid">
              <div class="eight wide column">
                  <div class="ui labeled button" tabindex="0">
                    <div class="ui basic blue button">
                      <i class="heart icon"></i>
                    </div>
                    <a class="ui basic left pointing blue label">
                      1,048
                    </a>
                  </div>
              </div>
              <div class="eight wide column">
                  <div class="ui labeled button" tabindex="0">
                    <div class="ui basic blue button">
                      <i class="save outline icon"></i>
                      Guardar
                    </div>
                    <a class="ui basic left pointing blue label">
                      12
                    </a>
                  </div>
              </div>
            </div>
            <div class="ui fluid"> <br>
              {% video project.pro_video %}
            </div>
          </div>
        </div>

        <!--Roles-->
        <div class="ui horizontal divider">
            <h3>Puestos disponibles</h3>
        </div>
        <div class="row">
          {% if project.pro_roles.all%}
          {% for x in project.pro_roles.all %}
          <div class="ui grid">
            <div class="column">
              <div class="ui card">
                <div class="content">
                  <div class="header">{{x.rol_name}}</div>
                </div>
              <div class="content">
            <div class="two rows">
                               <div class="column">
                                 <h4 class="ui sub header">Categoria(pendiente)</h4>
                               </div>
                               <div class="column">
                                 <h4 class="ui sub header">{{x.rol_location}}</h4>
                               </div>
                            </div>
                            <div class="ui small feed">
                              <div class="event">
                                <div class="content">
                                  <div class="summary">
                                    <p>{{x.rol_description}}</p>
                                     <a>Aplica </a>antes de <a>{{x.rol_due_date}}</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="extra content">
                            {% if request.user.is_staff %}
                              <button class="ui button">Editar</button>
                             {%else%}
                             <div class="ui left labeled button" tabindex="0">
                               <a class="ui basic right pointing label">
                                 Aplicar
                               </a>
                               <div class="ui button">
                                  {{x.rol_amount}}
                               </div>
                             </div>
                              <button class="ui button">Aplicar</button>
                             {% endif %}</h2>

                          </div>
                         </div>
                        </div>

                     </div>
                     {%endfor%}
                     {% if request.user.is_staff %}
                     <br>  <a href="{% url 'project_app:form_rol_project'  project.id project.pro_name|slugify %}" class="ui centered grid container">   <input type="button" class="ui grey basic button" value="Agregar puestos" id="add_more"></a>
                   {% endif %}</h2>
                  </table>
                  {%else%}
                  <p class="ui centered grid container">¡Oops! Aun no hay puestos disponibles</p>
                  {% if request.user.is_staff %}
                    {{form.rol_location}}

                    <a href="{% url 'project_app:form_rol_project'  project.id project.pro_name|slugify %}" class="ui centered grid container">   <input type="button" class="ui grey basic button" value="Agregar puestos" id="add_more"></a>
                  {% endif %}</h2>

                  {%endif%}

        </div>
      </div>
    </div>



    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2&appId=1801440776759214&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
