{% extends "base.html" %}
{% load staticfiles %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block body_block %}
  <form class="ui form"  method="post">
    {% csrf_token %}
    <br>
    <h1 class="ui centered grid container">¿Seguro que deseas borrar "{{object}}" ?</h1>

    <div class="ui centered grid container">

    <input   class="ui grey basic button"type="submit" name=""  value="Sí, borrar">
    </div>

  </form>
{% endblock %}
