{% extends "base.html" %}
{% load staticfiles %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block body_block %}
    <div class="container">

      <h1 class="content">Añade el puesto que buscas</h1>
      <div class="ui grid container">
        <div class="ui vertical segment">
          <div class="ui header">
            <!--Crear Puestos-->
          </div>
          <form method="POST" enctype="multipart/form-data"class="ui form">
          {% csrf_token %}


          <div class="table">

            <ul>
            <li>
              {{ form.rol_name.errors }}
                {{ form.rol_name.label_tag }}
                {{ form.rol_name }}
            </li>

            {{form.rol_name_other.errors}}
              {{form.rol_name_other}}

              {{ form.rol_due_date.errors }}
                  {{ form.rol_due_date.label_tag }}
                  {{ form.rol_due_date }}

              {{ form.rol_amount.errors }}
                  {{ form.rol_amount.label_tag }}
                  {{ form.rol_amount }}

              {{ form.rol_description.errors }}
                  {{ form.rol_description.label_tag }}
                  {{ form.rol_description }}

              {{ form.rol_location.errors }}
                  {{ form.rol_location.label_tag }}
                  {{ form.rol_location }}

            </ul>

          </div>

              <input type="submit" class=" green inverted ui button" value="Publicar puesto">

          </form>
        </div>
      </div>

    </div>
{% endblock %}

{% block js_block %}
<script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<script type="text/javascript">

  $(function() {
    var dateToday = new Date();
    $('input[class="datepicker"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minDate: dateToday,
      locale: {
         format: 'YYYY-MM-DD'
        }
    });
    $('#id_rol_name_other').hide();
  });
</script>
<script type="text/javascript">
  $('div select[id=id_rol_name]').change(function(e){
    if ($('div select option:selected').val() == 'Otro'){
      $('#id_rol_name_other').show();
    }else{
      $('#id_rol_name_other').hide();
    }
  });
</script>

{% endblock %}
