{% extends "base.html" %}
{% load staticfiles %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block body_block %}
    <div class="container">
      <h1 class="content">Actualiza tu proyecto</h1><br><br>

      {% if 'ok' in request.GET %}
      <div class="ui basic modal">
        <div class="ui icon header">
          <i class="archive icon"></i>
          El proyecto se actualizó con éxito.
        </div>
        <div class="content">
          <p class="ui centered grid container">Los cambios se han guardado ¿Desea seguir editando?</p>
        </div>
        <div class="actions">
          <a class="ui red basic cancel inverted button" href="{% url 'project_app:project' project.id project.pro_name|slugify %}">
            <i class="remove icon"></i>
            No
          </a>
          <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sí
          </div>
        </div>
      </div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data"class="ui form">
      {% csrf_token %}
      <h3>Información del proyetco</h3>
      <p>{{form.as_table}}</p>
        <input type="submit" class="positive ui button" value="Actualiza">
      </form>
    </div>
{% endblock %}

{% block js_block %}
<script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<script type="text/javascript">
  $('.ui.basic.modal')
  .modal('show')
;
  $(function() {
    $('input[class="datepicker"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      locale: {
         format: 'YYYY-MM-DD'
        }
    });
  });
  //document.getElementById('fieldWrapper').innerHTML.setAttribute("multiple", "multiple");
</script>
{% endblock %}
