{% extends "base.html" %}
{% load staticfiles %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block body_block %}
    <div class="container">
      <h1 class="content">Actualiza tu proyecto</h1><br><br>

      {% if 'ok' in request.GET %}
        <p>
          Página editada console
        </p>
        <p><a href="{% url 'project_app:project' project.id project.pro_name|slugify %}">Leer más</a></p>

      {% endif %}
      <form method="POST" enctype="multipart/form-data"class="ui form">
      {% csrf_token %}
      {{ form_rol.management_form }}


      <div class="fieldWrapper">
           {{ project.pro_img.errors }}
           {{ form.pro_img.label_tag }}
           {{ form.pro_img }}
       </div>

      <h3>Información del proyetco</h3>
      <div class="col-2">
          <label>{{form_pro.as_p}}</label>
      </div>
      <p>{{form.as_table}}</p>
        <input type="submit" class="positive ui button" value="Actualiza">

      </form>
    </div>
{% endblock %}

{% block js_block %}
<script src="{% static "css/semantic/out/semantic.min.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $('input[class="datepicker"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      locale: {
         format: 'YYYY-MM-DD'
        }
    });
  });
  //document.getElementById('fieldWrapper').innerHTML.setAttribute("multiple", "multiple");
</script>
{% endblock %}
