{% extends "base.html" %}
{% load static %}
{% block processes_block %}
<script type ="text/javascript" src="{% static "js/extras/processes.js" %}"></script>  <!--Este link hace que no jale el datepicker de create_project.html-->
{% endblock %}
{% block title %}{{project.pro_name}}{% endblock %}
{% block body_block %}

  {# Updated Segment #}
  {% if 'updated' in request.GET %}
    <div class="ui basic modal">
      <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
      </div>
      <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
      </div>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green ok inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  {% endif %}


  <main role="main">
    <div class="ui raised padded container segment">

        <div class="col-md-9 mx-auto">
          <div>
            <div class="ui stackable grid">
              <div class="ui equal width row">
                <div class="column">
                  <h2 class="section-heading mb-4">
                    {{project.pro_name}}</h2><h5>{{project.pro_category}}</h5>
                    <div class="ui indicating progress" id="example2">
                      <div class="bar"></div>
                    </div>
                    {{project.pro_phrase|safe}}
                    <div class="ui divider"></div>
                    <div class="ui mini labeled button" tabindex="0">
                      <div class="ui red button">
                        <i class="heart icon"></i> Like
                      </div>
                      <a class="ui basic red left pointing label">
                        1,048
                      </a>
                    </div>
                </div>
                <div class="column">
                  <div class="ui orange fluid card">
                    <div class="ui embed" data-url="https://www.youtube.com/embed/O6Xo21L0ybE" data-placeholder="/images/bear-waving.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            {{project.pro_description|safe}}
            {{project.pro_description|safe}}
            {{project.pro_description|safe}}
            {% if request.user.is_staff %}
              <p><a href="{% url 'project_app:update' project.id %}">Editar</a></p>
            {% endif %}
          </div>
        </div>
        <div class="ui card">
          <div class="ui horizontal list">
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/tom.jpg">
              <div class="content">
                <div class="header">Tom</div>
                Top Contributor
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
              <div class="content">
                <div class="header">Christian Rocha</div>
                Admin
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/images/avatar/small/matt.jpg">
              <div class="content">
                <div class="header">Matt</div>
                Top Rated User
              </div>
            </div>
          </div>
    </div>
  </main>
{% endblock %}
{% block js_block %}
  <script type="text/javascript">
  $('.ui.basic.modal')
    .modal('show')
  ;

  $('.ui.embed').embed();
  $('#example2').progress({
    percent: 52
  });
  </script>
{% endblock %}
