.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#social{
    display: none;
    padding:20px;
}

#personal{
    display:none;
    padding:20px;
}
#account{
    display: flex;
    padding:20px;
}


.box-shadow:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}

.django-date{
  clear: both;
  margin: 0em 0em 1em;
  box-sizing: inherit;
}

.ui.form .django-date > label {
  /* display: block; */
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}
/*
#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}
#logo:hover{
    box-shadow: 0px 0px 5px 5px white;
} */
