.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#social{
    display: none;
    padding:20px;
}

#personal{
    display:none;
    padding:20px;
}

#account{
    display: block;
    padding:20px;
}


.box-shadow:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}
/*
#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}
#logo:hover{
    box-shadow: 0px 0px 5px 5px white;
} */
