<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4 bg-gray inshadow footer navbar-fixed-bottom">

	<!--Footer Links-->
	<div class="container-fluid text-center text-md-left">
		<div class="row">

			<!--First column-->
			<div class="row" style="text-align: center; vertical-align: middle; margin: auto">

			</div>
		</div>
	</div>
	<br><br>
	<!--/.Footer Links-->

	<!--Copyright-->
	<div class="footer-copyright py-3 text-center shadow">
	</div>
	<!--/.Copyright-->

</footer>
<!--/.Footer-->
</body>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

	</body>
</html>
