{% extends "account_app/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="ui middle aligned center aligned grid login">
  <div class="column columnlogin">
    <div class="ui placeholder segment">
      <div class="content">
        <div class="header"><h1>Log in</h1></div>
      </div>
      <div class="content">
        <form class="ui form" action="{% url 'account_app:user_login' %}" method="post">
          {% csrf_token %}
          <div class="field">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="********">
          </div>

          <button class="ui fluid primary big button cnt" type="submit">Log in</button>
          <br /><br />
        </form>
        <div class="extra content">
          <div class="ui message">
            No tienes una cuenta? <a href="{% url 'account_app:register' %}">Registrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
