{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

{% if registered %}
<div class="ui middle aligned center aligned grid">
  <div class="column columnlogin">
    <div class="ui placeholder segment">
      <div class="content">
        <div class="header"><h1>Gracias por registrarte!</h1></div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="ui middle aligned center aligned grid login">
  <div class="column columnlogin">
    <div class="ui placeholder segment">
      <div class="content">
        <div class="header"><h1>Crear Cuenta</h1></div>
      </div>
      <div class="content">
        <form class="ui form" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ user_form.as_p }}
          <button class="ui fluid primary big button" type="submit">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
