{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
  <h1>HOOO</h1>
<div class="ui container segment">
  <div class="ui massive horizontal divided list">
    {% for profile in profile_list %}
    <div class="item">
      {% if profile.avatar %}
      <img src="{{profile.avatar.url}}" class="ui tiny avatar image">
      {% else %}
      <img class="ui avatar image" src="{% static 'registration/img/no-avatar.jpg' %}" >
      {% endif %}
      <div class="content">
        <div class="header">{{profile.user|truncatechars:"16"}}</div>
        <a href="{% url 'profiles_app:detail' profile.user %}">Ver perfil</a>
        <p>Jjaojbvixs</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  {% endblock %}
